#action-bar{
    background-color: #2B2B2B;
    color: white;
    font-family: 'Avenir';
    
}

#main-container{
    width: 100%;
    height: 100%;
    overflow: scroll;
}

#view, #screen{
    width: 100%;
    height: 100%;  
}

#scrollscroll{
    height: 100;
    background-color: #131313;
    padding-left: 10;
}

#bottom-bar{
    background-color: #F9F9F9;
    height: 56;
    width: 100%;
    visibility: collapse;
    padding: 10;
}

#view{
    height: 100%;
}

#scroll-contacts{
    height: 100%;
    text-align: left;
}

#contacts-container{
    text-align: left;
    overflow: scroll;
}

.contact-list-element{
    padding-left: 10;
}

#stories-container{
    margin: 0;
    padding-left: 5; 
}

.story-button, .contact-button, .conversation-button{
    background-color: lightgray;
    border-width: 3;
    border-radius: 100;
    margin-left: 5;
    margin-right: 5;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.story-button{
    border-width: 3;    
    width: 64;
    height: 64;
    border-color: red;
}

.contact-button, .conversation-button{
    border-width: 1;        
    margin-top: 5;
    margin-bottom: 5;
    width: 52;
    height: 52;
    border-color: gray;
}

.contact-list-element{
    text-align: left;
}

.h2{
    color: red;
    font-size: 20;
    font-weight: 100;
    padding-left: 10;
    padding-top: 5;
    padding-bottom: 2; 
    margin-bottom: 0;
}

.h2.negative{
    color: white;
    background-color: #A40000;
}

#recorder-button{
    width: 56;
    height: 56;
    border-radius: 56;
    background-color: red;
    visibility: collapse;
}

#overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: collapse;
}

#overlay-title{
    width: 100%;
    text-align: center;
    top: 30%;
    color: red;
    font-size: 20;
}

#filter-selector{
    width: 100%;
    height: 50%;
    background-color: white;
    padding: 20;
    border-radius: 20;
    visibility: collapse;
}


#close-selector{
    visibility: collapse;
}